--extra-index-url https://download.pytorch.org/whl/cpu
awkward
awscli

cernopendata-client[pycurl,xrootd]

# external requirements
click
coverage
flake8
# local package
git+https://github.com/fair4hep/hbb_interaction_network@main
h5py
numpy
python-dotenv>=0.5.1
scikit-learn
setGPU
Sphinx
sphinx>=3.2.1
sphinx_rtd_theme
toposort>=1.5.0
torch
torchaudio
torchvision
tqdm
uproot
xrootd
