--extra-index-url https://download.pytorch.org/whl/cpu
# local package
-e .
awscli

cernopendata-client[pycurl]

# external requirements
click
coverage
flake8
h5py

numpy
python-dotenv>=0.5.1
scikit-learn
Sphinx
torch
torchaudio
torchvision
tqdm
